.stayListShowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative;
}

.stayListShowCard {
  padding-top: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.stayListShowInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.stayListShowInfo .stayListShowTitle {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.stayListShowBackBtn {
  max-width: fit-content;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  position: absolute;
  right: 20px;
  bottom: 10px;
  cursor: pointer;
}

.stayListShowBackBtn:hover {
  opacity: 50%;
}
