.stayListShowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.stayListShowCard {
  padding-top: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.stayListShowInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.stayListShowInfo .stayListShowTitle {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}
