.show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.show-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.show-period {
  font-size: 20px;
}

.show-img {
  width: 100%;
  border-radius: 10px;
}

.stayRedirectBtn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1f7a0d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.stayRedirectBtn:hover {
  opacity: 50%;
}

.festivalShowbackBtn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.festival-info-container {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.festival-info-container p {
  margin: 7px 0;
}

.festivalShowbackBtn:hover {
  opacity: 50%;
}

.festivalShowBtnContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
