.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 20px;
}

.container .card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.card {
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  text-align: center;
  border: 1px solid black;
  border-radius: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card-img {
  padding-top: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-title {
  font-size: 32px;
}

.card-period {
  font-size: 24px;
}
